* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--secondary-font);
}
/* variables */
:root {
    --primary-font: ui-monospace, serif, "Playfair Display";
    --secondary-font: "Quicksand", Arial, sans-serif;
}
.primary-font {
    font-family: var(--primary-font);
}
.sm-txt {
    font-size: 13px;
}
/* clock-styling */
canvas {
  border-radius: 50%;
}
/* Skills bar */
.progress-bar {
  background-color: #a1a1ff;
}
#Header{
  background-image: url(./images/Nav-BG.jpg);
}
.text-shadow{
  text-shadow: 1px 1px 3px;
}
.style-color{
background-color: #437a9c;
}
tr{
font-size: 13px;
}
/* Login-form Nav styling */
.active {
    color: black !important;
}
/* Button styling */
.style-btn {
    font-family: inherit;
    font-size: 15px;
    background: royalblue;
    color: white;
    padding: 7px 13px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}
.style-btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}
.style-btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}
.style-btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}
.style-btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
.style-btn:hover span {
    transform: translateX(5em);
}
.style-btn:active {
    transform: scale(0.95);
}
@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }
    to {
        transform: translateY(-0.1em);
    }
}
/*Login Button styling */
.styled-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  .strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 14px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  .styled-btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
    text-decoration: none;
  }
  .styled-btn:hover {
    text-decoration: none;
    transform: scale(1.1)
  }
  .styled-btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  .styled-btn:active .circle {
    background: #FE53BB;
  }
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-135rem);
    }
  } 
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0);
    }
  }
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    } 
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  /* styling for switch */
  .toggler input {
    display: none;
  }
  .toggler label {
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
    border: 1px solid #d6d6d6;
    border-radius: 36px;
    background: #e4e8e8;
    cursor: pointer;
    margin: 0;
  }
  .toggler label::after {
    display: block;
    border-radius: 100%;
    background-color: #d7062a;
    content: '';
    animation-name: toggler-size;
    animation-duration: 0.15s;
    animation-timing-function: ease-out;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
  }
  .toggler label::after, .toggler label .toggler-on, .toggler label .toggler-off {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 18px;
    height: 18px;
    transform: translateY(-50%) translateX(-50%);
    transition: left 0.15s ease-in-out, background-color 0.2s ease-out, width 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s ease-in-out;
  }
  .toggler input:checked + label::after, .toggler input:checked + label .toggler-on, .toggler input:checked + label .toggler-off {
    left: 75%;
  }
  .toggler input:checked + label::after {
    background-color: #50ac5d;
    animation-name: toggler-size2;
  }
  .toggler .toggler-on, .toggler .toggler-off {
    opacity: 1;
    z-index: 2;
  }
  .toggler input:checked + label .toggler-off, .toggler input:not(:checked) + label .toggler-on {
    width: 0;
    height: 0;
    opacity: 0;
  } 
  .toggler .path {
    fill: none;
    stroke: #fefefe;
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  @keyframes toggler-size {
    0%, 100% {
      width: 26px;
      height: 26px;
    } 
    50% {
      width: 20px;
      height: 20px;
    }
  }
  @keyframes toggler-size2 {
    0%, 100% {
      width: 26px;
      height: 26px;
    }
    50% {
      width: 20px;
      height: 20px;
    }
  }
   